.singleBlog {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.blogsMain {
  width: 90%;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 80px;
  color: #f1f1f1;
}

.blogsPart1 {
  /* flex: 1; */
  width: 100%;
}

.blogsPart2 {
  /* flex: 1; */
}

.blogsContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.travelChip {
  background: #f2f8f7;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

.travelChip p {
  color: #666666;
  font-size: 12px;
  font-weight: 400px;
  color: #f1f1f1;
}

.addHere {
  background-color: #f2f8f7;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  margin-top: 20px;
}

.addHere h1 {
  color: #d1e4e1;
  font-size: 64px;
  font-weight: 600;
  font-family: "Noto Sans", sans-serif;
  color: #f1f1f1;
}

.blogsHead p {
  font-size: 22px;
  font-weight: 500;
  color: #222222;
  font-family: "Noto Sans", sans-serif;
  color: #f1f1f1;
}

.HomeBlogsMainImage {
  width: 250px;
  height: 260px;
  border-radius: 10px;
}

.singleBlog {
  cursor: pointer;
}

.paraColor {
  color: #faf9f6;
}

.Chips {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  padding: 2px 4px;
  background-color: lightgrey;
  width: 90px;
}

.singleBlog {
  margin-bottom: 40px;
}

.blogsContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.writtersIconsWhite {
  border: 2px solid white;
  color: white;
}

.singleBlog .blogsContent {
  flex: 1;
}

.singleBlog .singeBlogImages {
  width: 35%;
}

.anim {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

@media screen and (max-width: 1150px) {
  .blogsMain {
    flex-direction: column;
  }
  .singleBlog .HomeBlogsMainImage {
    width: 100%;
  }
  .singleBlog {
    width: 100%;
  }
  .HomeBlogsMainImage {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .singleBlog {
    flex-direction: column;
  }
  .singleBlog .singeBlogImages {
    width: 100%;
  }
}

/* The pagination */
.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root {
  background: white !important;
}
.css-g2z002-MuiSvgIcon-root-MuiPaginationItem-icon {
  color: black !important;
}
.css-19micn4-MuiButtonBase-root-MuiPaginationItem-root {
  color: wheat !important;
}

.css-19micn4-MuiButtonBase-root-MuiPaginationItem-root {
  color: wheat !important;
}

.css-1v2lvtn-MuiPaginationItem-root {
  color: wheat !important;
}
