.feedBackBigMain {
  padding: 70px 0px;
  background-color: #f2f4f8;
}

.feedBackMain {
  width: 80%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.feedBackHeader {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #292929;
  margin-bottom: 40px;
}

.feedBackBigMain h2 {
  font-size: 17px;
  font-weight: 600;
  font-family: "Noto Sans", sans-serif;
  color: #222222;
}

.smallText {
  color: #666666;
  font-size: 12px;
  font-weight: 300;
  font-family: "Noto Sans", sans-serif;
}

.bigText {
  color: #555555;
  font-size: 12px;
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
}

.arrows {
  display: flex;
  gap: 12px;
}

.arrowLeft {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowRight {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0065fd;
}

.feedBackContent {
  display: flex;
  gap: 20px;
  align-items: center;
}

.feedBackWriterBio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.feedBackFlex {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

@media screen and (max-width: 900px) {
  .feedBackContent {
    flex-direction: column;
  }
}
