.HeaderBigMain {
  padding: 70px 0px;
  background-color: #0065fd;
}

.HeaderMain {
  width: 80%;
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.HeaderMain h1 {
  font-size: 24px;
  font-weight: 600;
  font-family: "Noto Sans", sans-serif;
  color: #ffffff;
}

.HeaderMain p {
  font-size: 14px;
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
  color: #ffffff;
}
