.heroTextMain {
  width: 90%;
  margin-top: 100px;
  margin-left: 10%;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.heroTextMain h1 {
  font-weight: 500;
  font-size: 52px;
  line-height: 62px;
  color: #fefefe;
  font-family: "Nunito", sans-serif;
}

.heroTextFlex {
  display: flex;
  gap: 20px;
}

.heroTextMain p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ededed;
  font-family: "Nunito", sans-serif;
}


.arrow1 {
  font-size: 51px;
  position: absolute;
  right: 52px;
  top: 48%;
  cursor: pointer;
  animation-name: example;
  animation-duration: 4s;
}

.arrow2 {
  font-size: 51px;
  position: absolute;
  left: 52px;
  top: 48%;
  cursor: pointer;
}

 .activeNext{
  animation-name: example1;
  animation-duration: 4s;
} 

.activePre{
  animation-name: example2;
  animation-duration: 4s;
}

@keyframes example1 {
  0%   {transform: translateX(0%);}
  90% {transform: translateX(700%)}
  100% {transform: translateX(0%)}
}
@keyframes example2 {
  0%   {transform: translateX(0%);}
  90% {transform: translateX(-700%)}
  100% {transform: translateX(0%)}
}


@media screen and (max-width:900px) {
  .arrow1,.arrow2{
    font-size: 30px;
  }

  .arrow1{
    right: 20px;
  }

  .arrow2{
    left: 20px;
  }
}


@media screen and (max-width:500px) {
  .arrow1,.arrow2{
    font-size: 20px;
  }

  .arrow1{
    right: 10px;
  }

  .arrow2{
    left: 10px;
  }
}


/* TEH RAIN ANIMATION */
.rainAnimation{
  margin: 0;
  padding: 0;
  background-image: url("../../assets/background.jpg");
  background-size: cover;
  height: 80vh;
  overflow: hidden;
}
.rain{
  height: 100vh;
  background-image: url("../../assets/rain.png");
  animation: rain 0.3s linear infinite;
}
@keyframes rain{
  0%{
      background-position: 0% 0%;
  }
  100%{
      background-position: 20% 100%;
  }
}
.rain::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 80%;
  background-image: url("../../assets/lightining.png");
  top: -100px;
  transform: rotate(180deg);
  animation: lightining 4s linear infinite;
  opacity: 1;
}
@keyframes lightining{
  0%{
      opacity: 0;
  }
  20%{
      opacity: 0;
  }
  21%{
      opacity: 1;
  }
  25%{
      opacity: 0;
  }
  30%{
      opacity: 0;
  }
  31%{
      opacity: 1;
  }
  35%{
      opacity: 0;
  }
  100%{
      opacity: 0;
  }
}


.FrontHeroMain{
  position: relative;
}

.FrontHeroContent{
  position: absolute;
  top: 30%;
  width: 50%;
  left: 10%;
}

.heroHead{
  margin-bottom: 10px;
}

.heroPara{
  letter-spacing: 6px;
}

@media screen and (max-width:500px) {
  .FrontHeroContent{
    width: 70%;
  }
}