.writerName {
  font-size: 15px;
  font-weight: 400;
  color: #3e3d41;
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 10px;
  color: #faf9f6;
}

.writterBio,
.writterInfo {
  color: #faf9f6;
}

.singleBlogFlex {
  display: flex;
  gap: 4px;
}

.singleBlogFlex p {
  color: #777777;
  font-size: 12px;
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
}

.blogWriterLeftIntroFlex {
  display: flex;
  gap: 15px;
}
.blogIcons {
  color: #a8a8a8;
}

.blogIconsMain {
  display: flex;
  gap: 8px;
}

.blogsWriterLeftIntroMain {
  display: flex;
  justify-content: space-around;
}

.blogContentHeading {
  font-size: 30px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #3e3d41;
  margin-top: 20px;
  margin-bottom: 40px;
}

.blogContentMain p {
  font-size: 20px;
  font-weight: 400;
  font-family: "Source Serif Pro", serif;
  color: #3e3d41;
  margin: 20px 0px;
}

.blogContentMain img {
  margin: 20px 0px;
}

.blogContentMain .blogAdd {
  margin: 20px 0px;
}

.singleBlogWriterInfoRight {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.singleBlogWriterInfoRight h1 {
  font-size: 15px;
  font-weight: 400;
  color: #3e3d41;
  font-family: "Roboto", sans-serif;
}

.singleBlogWriterInfoRight p {
  font-size: 14px;
  font-weight: 400;
  color: #706e72;
  font-family: "Roboto", sans-serif;
}

.chipsMain {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.singleChip {
  background-color: #ebe9ec;
  border-radius: 20px;
  padding: 10px 10px;
  color: #3e3d41;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.commentsChipMain {
  background-color: #ebeef4;
  display: flex;
  justify-content: space-around;
  height: 50px;
  padding: 0px 20px;
  align-items: center;
  margin-top: 30px;
  cursor: pointer;
}

.commnetPreNextContent {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.commnetPreNextContent P {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.singleArrows {
  display: flex;
}

.commnetArrows {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.singleArrows p {
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.commnetsResponse {
  color: #464950;
  font-size: 25px;
  font-weight: 500;
  font-family: "Nunito", sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 1px 1px #ffffff;
}

.commentCard {
  background: #ffffff;
  border: 1.96823px solid #e6e6f2;
  border-radius: 6.56077px;
  padding: 20px;
}
.commentFurther {
  color: #57638b;
  font-size: 15px;
  font-weight: 500;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 900px) {
  .commentsChipMain {
    justify-content: space-between;
  }
}

.commentBigFlex {
  display: flex;
  gap: 20px;
}

.commentSmallFlex {
  display: flex;
  gap: 10px;
}

.commentBigFlex,
.commentSmallFlex img {
  width: 20px;
  height: 20px;
}

.commentWriterFlex {
  display: flex;
  gap: 20px;
  align-items: center;
}

.commentWriterFlex img {
  width: 50px;
  height: 50px;
}

.commentWriterFlexName {
  color: #000000e5;
  font-size: 14px;
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
}

.commentWriterComment {
  color: #00000099;
  font-size: 14px;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  margin-top: 30px;
}

@media screen and (max-width: 800px) {
  .blogContentMain img {
    width: 80%;
  }
}

@media screen and (max-width: 900px) {
  .blogsWriterLeftIntroMain {
    flex-direction: column;
  }
  .blogIconsMain {
    margin-top: 10px;
  }
}

.BlogContentMain {
  font-family: "Roboto", sans-serif;
}

.BlogContentMainDangerousHTML h1 {
  color: "#FAF9F6";
}

.BlogContentMainDangerousHTML p,
a,
h2,
h3,
h4,
h5 {
  color: #f1f1f1;
}

.singleWritterWrapper {
  display: flex;
  flex-direction: column;
}

/* .singleArrows p{
  color: #f1f1f1;
} */

.commnetsResponse {
  color: #e6e6f2;
}

.commentWriterFlexName {
  color: black;
}

.commentCard p {
  font-family: "Roboto", sans-serif;
}

.ql-snow .ql-editor h2,
h1,
h3,
h4,
h5,
p {
  color: black;
}

/* The Further Comments CSS */
.grayLine {
  width: 100%;
  height: 3px;
  background-color: #e5e5e5;
  margin-top: 40px;
  margin-bottom: 40px;
}
.commentUserName {
  color: #000000e5;
  color: white;
}

.commentUserIfoWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.commentMainComment {
  margin-top: 20px;
}

.replyToComment {
  width: 200px;
  outline: none;
  margin-top: 20px;
}

.subCommentMain {
  position: relative;
  left: 50px;
  border-left: 2px solid #e5e5e5;
  padding-left: 30px;
  width: 90%;
}

.subCommentMain p {
  word-break: break-all;
}

.commentReplyFlex {
  display: flex;
  /* align-items: center; */
  gap: 30px;
}

.CommentReplyButton {
  height: 30px;
  width: 80px;
  background-color: rgb(160, 224, 160);
  border: 2px solid rgb(160, 224, 160);
  color: black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.mainCommentTextField {
  margin-top: 20px;
  height: 100px;
  padding: 0px;
  outline: none;
  padding: 0px 10px;
}

.commentFurther {
  cursor: pointer;
}
